body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Oswald;
  text-align: center;
  color: lightgray;
  background: rgb(240, 240, 240)
}

#root {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center
}

#root, #game, .rows {
  display: flex
}

.block {
  width: 25px;
  height: 25px;
  border: solid rgb(50, 50, 50) 1px;
  margin: -1px 0 0 -1px;
  background: rgb(25, 25, 25)
}

.red {
  background-image: linear-gradient(rgb(240, 50, 50),
  rgb(215, 25, 25), rgb(190, 0, 0))
}

.green {
  background-image: linear-gradient(rgb(60, 180, 105),
  rgb(35, 155, 80), rgb(10, 130, 55))
}

.blue {
  background-image: linear-gradient(rgb(50, 150, 250),
  rgb(25, 125, 225), rgb(0, 100, 200))
}

.yellow {
  background-image: linear-gradient(rgb(250, 240, 50),
  rgb(225, 215, 25), rgb(200, 190, 0))
}

#playGround, .sideBar {
  box-shadow: 0 0 5px black
}

.sideBar {
  margin: -1px 20px 0 20px;
  padding: 10px;
  width: 180px;
  height: 220px;
  border: solid rgb(50, 50, 50) 10px;
  background: rgb(25, 25, 25)
}

#score, #level {
  font-size: 35px
}

#score {
  margin-bottom: 5px
}